@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
/*
    [Version] 1.0.0
*/
:root {
     --main-sky-blue: #00baff;
     --main-red: #ff4226;
     --main-yellow: #ffe953;
     --milky-pink: #ff9fb6;
}
 html {
     background: linear-gradient(to bottom, #8a42ff, #8a42ff 180px, #fcfcfc 180px, #fcfcfc 90%, #fcfcfc 90%, #fcfcfc);
     height: auto !important;
}
 body {
     letter-spacing: -0.05em !important;
     background: transparent;
     font-family: 'Nanum Gothic', sans-serif;
}
 header #header-bar #header-menu-right {
     border-left: none;
}

 header #header-bar #header-menu-left {
     border-right: none;
}
#board-info > img {
    float: left !important;
    margin-right: 10px;
}
#board-info h1>a {
    font-weight: bold;
    font-family: 'NanumSquareRound', sans-serif;
}
/* 헤더 배너 */
header .row>div:nth-child(1)>a {
    display: block;
    height: 50px;
    margin-top: 5px;
    background: url(https://lx5475.github.io/images/tgdrgd_fri.svg) no-repeat;
    background-size: auto 45px;
}
/* mobile */
 @media (max-width: 769px) {
     header>#header-area>a>h1 {
         background: url(https://lx5475.github.io/images/tgdrgd_fri.svg) no-repeat;
         background-size: 125px;
         width: 125px;
         margin-top: 4px;
    }
     header>#header-area>#header-search-link {
         color: #3e3e3e !important;
         padding: 4px 16px !important;
    }
     header {
         background: #8a42ff !important;
         border-bottom: 1px solid #8a42ff !important;
    }
     nav#nav>.nav-header {
         background: #ffe953 !important;
         color: #3e3e3e !important;
    }
     nav#nav>.nav-header>a {
         color: #3e3e3e !important;
    }
    /* 광고창 */
     #header-top-notice {
         background: #8a42ff;
    }
     #header-top-notice strong.notice-badge {
         background: #3e3e3e !important;
        color: #FFF;
        border-radius: 3px;
    }
    footer {
      background: #fafafa !important;
      border-top: 1px solid #f4f4f4 !important;
    }
    header>#header-area>#header-bar-link {
        padding: 4px 16px !important;
    }
}
#movetotop {
  opacity: 1 !important; 
  background: url(https://lx5475.github.io/images/move_to_top.png) no-repeat;
    background-size: 45px;
}
#movetotop>img {
  opacity: 0 !important;
}
/* 광고 */
 header #header-bar #header-top-notice strong.notice-badge {
     background: #3e3e3e !important;
     color: #FFF;
}
/* 로고밑 NAV bar */
 header #header-bar>.row {
     border: none;
     background: transparent;
}
 header #right-search-form>input[type=text] {
    border: none;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    border-radius: 3px !important;
}
/* 접속자 */
 #board-info #viewers-area .fa-user:before {
     color: rgba(10, 59, 84, 0);
     content: url(https://static-cdn.jtvnw.net/badges/v1/0487a612-f021-410a-824a-c9ca72a72c69/1);
}
#board-info {
    margin: 0 !important;
}
#board-info #board-info-bottom a {
  color: rgba(10, 59, 84, 0.4);  
}


 header .row>div:nth-child(1)>a>img {
     display: none;
     filter: grayscale(100%);
     opacity: 0.8;
}
/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */
 #main .menu-wrapper>.header {
     background: #ffe953;
     color: #3e3e3e;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
}
 #main .menu-wrapper>.header>a, .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
     color: #3e3e3e;
}
/* 하트 */
 #article-list>.article-list-row>.item>.list-title>small.favo {
     color: #ffc4d2;
}
 #main .menu-wrapper, #main #main-content>div.frame {
     box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
     border: none;
     border-radius: 3px;
}
 .fa-square:before {
     color: #ff4226;
}
/* 헤더 검색 버튼 */
 header #right-search-form>#right-search-btn {
     color: #3e3e3e;
}
/* 헤더 [광고]배경색 */
 header #header-bar #header-top-notice strong.notice-badge {
     background: #515ce9;
     border-radius: 3px;
}
/* fa색상 */
 header #header-bar .fa {
     color: #3e3e3e;
}
/* 스트리머 게시판 상단 정보 글씨색상 */
 #article-list #article-list-category {
     border: none !important;
     background: white !important;
}
/* 좌측메뉴 숏컷링크 글씨 색상 */
 #main .menu-wrapper>a>em {
     color: #aaaaaa;
}
/* 좌측메뉴 메뉴사이의 공간 색상 */
 #main .menu-wrapper .spacer {
     background: #eee;
     height: 0.15em;
}
/* 게시글 관련부분 */
 #article-list>.article-list-row>.item>.list-title>.list-writer>span {
     width: 120px !important;
}
 #article-list #article-list-category {
     border-top: 1px solid #aaa;
     background: #f3f3f3;
}
 #article-list #article-list-category>a {
     background: #ffffff;
     font-family: 'NanumSquareRound',sans-serif;
}
 #article-list #article-list-category>a:hover {
     background: #fafafa;
}
 #article-list>.article-list-row>.item>.list-header>span {
     background-color: #ff4226;
     padding: 2px 5px 1px 4px !important;
     font-family: 'NanumSquareRound',sans-serif;
}
 #article-list>.article-list-row>.item>.list-title>small.comment-count {
     color: #00bbff;
}
 #article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
     color: #273348;
}
 #article-list>.article-list-row.active {
     background: #f0fbff;
}
 .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
     background-color: #00bbff;
     border-color: #00bbff;
     border-radius: 3px;
     margin-right: 5px;
     padding: 4px 10px;
}
 .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
     color: #00bbff;
     border-radius: 3px;
     margin-right: 5px;
     padding: 4px 10px;
}
 .pagination>li>a, .pagination>li>span {
     color: #00bbff;
     border-radius: 3px;
     margin-right: 5px;
     padding: 4px 10px;
}
 #boardSearchForm .input-group-btn>.dropdown-toggle {
     border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
}
 #boardSearchForm input[name=search_term] {
     height: 30.5px !important;
     border: 1px solid #eee;
}
 #article-content-wrapper>.header {
     border: 1px solid #eee;
}
 #article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
     color: #00baff;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer {
    font-family: 'NanumSquareRound',sans-serif;
    font-weight: 700;
}
 #article-info>h2 {
     font-weight: bold;
     font-family: 'NanumSquareRound',sans-serif;
}
 #article-reply-area>.header h5 {
     color: #00baff;
}
 #main .menu-wrapper>a {
     padding: 0.5em 1.4em 0.5em 0.7em !important;
}
 a {
     color: #ff9fb6;
}
 span.a-badge i.fa.fa-info-circle {
     color: #ff9fb6;
}
 #board-info h1 {
     border-bottom: none;
}
/* 댓글 입력창 상단 border */
 .fr-toolbar {
     border-top: 1px solid #eee;
}
 #article-content-wrapper>.footer {
     background: #fafafa;
     border: 1px solid #eee;
}
 #article-list>.article-list-row.notice {
     background: #FFF;
}
 #article-list>.article-list-row.notice .list-header>strong {
     color: #666;
     border: 1px solid #666;
     border-radius: 3px;
     font-family: 'NanumSquareRound',sans-serif;
}
 #article-list>.article-list-row.hot {
     background: #f8f8f8;
}
 #article-list>.article-list-row.hot .list-header>b {
     color: #ff4226;
     border: 1px solid #ff4226;
     border-radius: 3px;
     font-family: 'NanumSquareRound',sans-serif;
}
/* footer */
 .btn-primary {
     background: #00baff !important;
     border: none !important;
}
 #article-list #article-option-area>#article-option-area-toggle-btn {
     background: white !important;
}
 .btn.square {
     border-radius: 3px;
}
#article-list>.article-list-row>.item>.list-title>.list-category {
    width: 70px;
    font-family: 'NanumSquareRound',sans-serif;
    font-weight: 700;
}
